
.Thankyou{
    text-align: center;
    color: antiquewhite;
    letter-spacing: 2px;
    margin-bottom: 20px;
    animation: myanimation 13s infinite;
}

@keyframes myanimation {
  0% {color:yellow;}
  20%{color:white;}
  40%{color:rgb(73, 73, 211);}
  60%{color:yellow;}
  80%{color:skyblue;}
  100% {color:#F6C461;}
}

